{% extends 'src/partials/layout.njk' %}
{% block content %}
  <div class="content">
    <h1>It works!</h1>
    <h1>Hello {{name}}!</h1>
    <ul>
      {% for character in characters %}
        <li>{{ character.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}